@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primaryDark: #64AD5E;
  --primaryLight: #24E713;
  --secondaryLight: #FF3DB5;
  --secondaryDark: #A30768;
  --whiteYellowed: #ededbe;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  scroll-behavior:  smooth;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}




/* text button animation */


.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #24E713  , #FF3DB5   );
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:hover {
  color: #000
}

.glow-on-hover:hover:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.projectsList {
  text-align:center;
  border-top: 3px groove;
  border-left: 3px groove ;
  border-image:   linear-gradient( 50deg ,  yellow ,  red , teal , green ,  pink ) 5;
  animation-name : animateborder ;
  animation-duration:  5s ;
  animation-timing-function: ease-in ;
  animation-iteration-count: infinite;
}
@keyframes animateborder {
  0% {
    border-image:   linear-gradient( 50deg , var(--primaryLight) , var(--secondaryLight) ,  var(--primaryDark) ) 5;
  }
  50% {
    border-image:   linear-gradient( 50deg ,var(--secondaryLight) , var(--primaryLight) , var(--secondaryDark)  ) 5;
  }
  100% {
    border-image:   linear-gradient( 50deg ,var(--primaryDark) , var(--secondaryLight) , var(--primaryLight)  ) 5;
  }

}



.projectsListConteiner {
  width : fit-content ;
  height :fit-content ;
  border-radius: 10px;
  overflow: hidden; /* Ensures the border doesn't extend beyond the rounded corners */
}

.personalProjectContainer{
  height: fit-content;
  min-height: 600px;
}